* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.container {
  width: 1120px;
  margin: auto;
}
.navigation {
  display: flex;
  align-items: center;
  margin-top: 4.1875rem;
}
.navigation__links {
  display: flex;
  margin-left: 6.3125rem;
}
.navigation__links a {
  display: flex;
  justify-content: center;
  padding: 0.3125rem 0;
  width: 5.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #212353;
}
.navigation__links a:hover {
  font-weight: bold;
}

.main {
  position: relative;
  margin-top: 144px;
}
.main h1 {
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.1;
  display: flex;
  align-items: center;
  color: #212353;
  width: 600px;
}
.main__description {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.62;
  color: #4b5d68;
  margin-top: 3.3125rem;
  width: 23.75rem;
  letter-spacing: 0.015rem;
}
.main__image {
  position: absolute;
  left: 23.625rem;
  bottom: -5.3125rem;
}
.main__button {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 160%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 10.625rem;
  height: 3.75rem;
  background: #9c69e2;
  border: 0.0625rem solid #9c69e2;
  border-radius: 3.125rem;
  margin-top: 3.3125rem;
  transition: 0.4s;
}
.main__button:hover {
  background: #7244b3;
  border: 0.0625rem solid #7244b3;
}

.storage {
  height: 35rem;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 12.0625rem;
}
.storage__text {
  width: 27.5rem;
}
.storage h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
  color: #212353;
  margin-bottom: 2.5rem;
}
.storage p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #4b5d68;
}
.feature {
  margin-top: 9.375rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.feature__text {
  width: 36.563rem;
}
.feature h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #212353;
  margin-bottom: 3.125rem;
}
.feature p {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #4b5d68;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.125rem;
}
.features__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.188rem;
  height: 22.375rem;
  margin-top: 3.125rem;
}
.features__text {
  width: 20rem;
  padding: 0.9375rem 3.125rem 0.9375rem 1.875rem;
}
.features__background {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.features__text h3 {
  font-size: 1.5625rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
  font-weight: bold;
  letter-spacing: -1.28px;
  margin-top: 1.625rem;
}
.features__text p {
  margin-top: 1.875rem;
  margin-bottom: 1.5625rem;
  font-size: 1rem;
  line-height: 160%;
  color: #4b5d68;
}
.features__link {
  display: flex;
}
.features__link a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.005rem;
  color: #212353;
}
.features__link img {
  position: relative;
  top: 0.15rem;
}

.testimonials {
  background: #9c69e2;
  border-radius: 3.125rem;
  margin: 9.4375rem 0;
  padding: 6.8125rem 5.75rem 3.4375rem;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 5.4375rem;
}
.testimonials__group {
  position: relative;
  height: 20.625rem;
  z-index: 1;
}
.testimonials__item {
  position: absolute;
  width: calc(49.1875rem - 8.75rem);
  height: calc(27.625rem - 6.875rem);
  background: #ffffff;
  box-shadow: 0 1.25rem 0 rgba(156, 105, 226, 0.3);
  border-radius: 1.25rem;
  padding: 3.75rem 4.375rem 3.125rem 4.375rem;
  display: flex;
  border: 0.0625rem solid #9c69e2;
}
.testimonials__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 20.5625rem;
  width: 24.9375rem;
  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 1.25rem;
}
.testimonials__item:nth-child(2) {
  left: 41.625rem;
  width: calc(30.0625rem - 5rem);
  height: calc(27.25rem - 6.5625rem);
  padding: 3.4375rem 2.5rem 3.125rem 2.5rem;
}
.testimonials__item:nth-child(3) {
  left: 67.8125rem;
  width: calc(25rem - 5rem);
  height: calc(27.25rem - 6.5625rem);
  padding: 3.4375rem 2.5rem 3.125rem 2.5rem;
}
.testimonials__text {
  padding-left: 1.875rem;
}
.testimonials__name {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.005rem;
  color: #212353;
  display: block;
  margin-top: 1.25rem;
}
.testimonials__staff {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  color: #9c69e2;
  display: block;
}
.testimonials__message {
  font-size: 1.125rem;
  line-height: 180%;
  color: #4b5d68;
  margin-top: 1.1875rem;
}
.testimonials__footer {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.testimonials__circle {
  display: flex;
  align-items: center;
}
.testimonials__circle div {
  width: 0.625rem;
  margin-left: 0.625rem;
  justify-content: center;
  display: flex;
}
.testimonials__circle div:first-child {
  margin-left: 0;
}
.testimonials__circle a {
  width: 0.3125rem;
  height: 0.3125rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
}
.testimonials__circle a:hover,
.testimonials__circle > div > a.active {
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background: #f063b8;
}
.testimonials__arrows-big {
  margin-right: 1.25rem;
}
.footer {
  border-top: rgba(155, 105, 226, 0.2) 0.0625rem solid;
}
.footer__container {
  padding-top: 10.125rem;
  padding-bottom: 4.0625rem;
  display: flex;
  justify-content: space-between;
}
.footer__company-header {
  display: flex;
  align-items: center;
}
.footer__company-logo {
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 160%;
  color: #212353;
  margin-left: 1.25rem;
}
.footer__company-adress {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 180%;
  letter-spacing: 0.01rem;
  color: #212353;
  margin-top: 4rem;
}
.footer__company-contact {
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0.01rem;
  color: #212353;
  margin-top: 1rem;
}
.footer__company-copyright {
  font-size: 0.75rem;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01rem;
  color: #212353;
  margin-top: 2.4375rem;
}
.footer__social {
  width: 13.3125rem;
}
.footer__social header {
  font-weight: bold;
  font-size: 1rem;
  line-height: 160%;
  color: #212353;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}
.footer__social-circle {
  width: 3.125rem;
  height: 3.125rem;
  background: rgba(33, 35, 83, 0.1);
  border-radius: 50%;
  margin-right: 0.875rem;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.footer__social-circle:hover {
  background: #9c69e2;
}

@media screen and (max-width: 1500px) {
  .container {
    width: auto;
    margin: 0 0.9375rem;
  }
  .main__image {
    width: 38rem;
  }
  .features {
    justify-content: space-around;
  }
  .features__item {
    flex-direction: column;
    height: auto;
    width: 30rem;
  }
  .features__text {
    width: 17rem;
    padding: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .main__image {
    left: 18.125rem;
    width: 35rem;
    padding-top: 0.9375rem;
    position: static;
    display: block;
  }
  .storage__image {
    width: 25rem;
    padding: 0.9375rem;
    padding-bottom: 1.875rem;
  }
  .storage__text {
    padding: 0.9375rem;
    padding-bottom: 1.875rem;
  }
  .features__item {
    width: 21rem;
    height: auto;
  }
  .features__image {
    width: 8rem;
  }
  .features__background {
    width: 22rem;
  }
  .features__text {
    padding-left: 50px;
    width: auto;
  }
  .features__text h3 {
    margin-top: 0;
  }
  .features__text p {
    margin: 0.9375rem 0;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  .main h1 {
    font-size: 3.5rem;
  }
  .main__image {
    width: 27rem;
  }
  .main__button {
    margin-top: 0.9375rem;
  }
  .storage {
    flex-direction: column;
    height: auto;
  }
  .storage__image {
    width: 20rem;
  }
  .storage__text {
    width: 100%;
  }
  .testimonials {
    padding: 2rem .9375rem;
  }
  .testimonials h2 {
    font-size: 2rem;
    margin-bottom: .9375rem;
  }
  .testimonials__group {
    height: auto;
  }
  .testimonials__item {
    padding: .9375rem;
    width: auto;
    flex-direction: column;
    height:auto;
    position: static;
  }
  .testimonials__item:nth-child(2),
  .testimonials__item:nth-child(3) {
    display: none;
  }
  .testimonials__text {
    padding: 0;
  }
  .testimonials__footer {
    margin-top: .9375rem;
  }
  .footer__container {
    flex-direction: column;
    padding: 1.875rem 0.9375rem;
  }
}

@media screen and (max-width: 425px) {
  .navigation {
    flex-direction: column;
    margin-top: 0.9375rem;
  }
  .navigation__links {
    margin: auto;
  }
  .main {
    margin-top: 3.125rem;
  }
  .main h1 {
    font-size: 2.8125rem;
    width: auto;
  }
  .main p {
    margin-top: 0.9375rem;
    width: auto;
  }
  .main__image {
    width: 100%;
  }
  .storage {
    margin-top: 6.25rem;
  }
  .storage h2 {
    font-size: 2rem;
    margin-bottom: 0.9375rem;
  }
  .feature {
    margin-top: 6.25rem;
  }
  .feature h2 {
    margin-bottom: 0.9375rem;
  }
  .features {
    margin-top: 0;
  }

  .footer__company {
    order: 2;
  }
  .footer__company-adress,
  .footer__company-contact,
  .footer__company-copyright {
    margin-top: 0.9375rem;
  }
  .footer__social {
    order: 1;
    margin-bottom: 3.125rem;
  }
  .footer__social header {
    margin: 0 0 0.9375rem 0;
  }
}
